08102021ALMTEST2/Workflows/08_10_2021_GET_First_SPO_Item-7978CFBB-2C28-EC11-B6E5-000D3AB624B9.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"crc98_sharedsharepointonline_1ae88"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"08_10_2021_String":{"defaultValue":"DevEnv","type":"String","metadata":{"schemaName":"crc98_08_10_2021_String"}},"08_10_2021_SPO_Site":{"defaultValue":"https://volvogroup.sharepoint.com/sites/proj-coe_dev","type":"String","metadata":{"schemaName":"crc98_08_10_2021_SPO_Site"}},"08_10_2021_SPO_List":{"defaultValue":"37079a07-adf8-442c-a38d-95235e781a6a","type":"String","metadata":{"schemaName":"crc98_08_10_2021_SPO_List"}}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('08_10_2021_SPO_Site')","table":"@parameters('08_10_2021_SPO_List')"},"authentication":"@parameters('$authentication')"}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Update_item":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"firstitem":"@{first(outputs('Get_items')?['body/value'])['Title']}"},"schema":{"type":"object","properties":{"firstitem":{"title":"FirstItem","x-ms-dynamically-added":true,"type":"string"}}}}},"Update_item":{"runAfter":{"Get_items":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('08_10_2021_SPO_Site')","table":"@parameters('08_10_2021_SPO_List')","id":"@first(outputs('Get_items')?['body/value'])['ID']","item/Title":"@{first(outputs('Get_items')?['body/value'])['Title']}_@{parameters('08_10_2021_String')}"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}